<div class="main-wrap">
    <!--=====================STATS=====================-->
    <!--************  SIDEBAR MENU ******************-->
    <div class="main-wrap stats_wrap">
      <div class="container-fluid padding_lft_0">
        <div class="row">
          <div class="col-md-12">
            <div class="title_wrap d-flex justify-content-center">
              <h2 class="widget__title"> 2020 Points Table</h2> </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 marg-bo-30">
            <div id="cate" class="Categories-btn">Leaders <span class="pull-right"><i class="la la-bars"></i></span> </div>
            <aside class="aside-wrap">
              <div id='sidebar-menu'>
                <div class="title">Leaders <span class="pull-right"><i class="la la-users-cog"></i></span> </div>
                <ul>
                  <li class=""><a href="">Most Submission</a> </li>
                  <li class=""><a href="">Most Starts</a> </li>
                  <li class=""><a href="">Most Valuable Player </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  
                </ul>
              </div>
            </aside>
          </div>
          <div class="col-md-9 marg-bo-30">
            <div class="che_description-wrap">
              <div class="table-responsive">
                <table class="table table-" *ngIf="merged">
                  <thead>
                    <tr>
                      <th>Rank</th>
                      <th>Team</th>
                        <th>Location</th>
                      <th>Sub</th>
                      <th>Interviews</th>
                      <th>Starts</th>
                      
                        <th>Points</th>
                      <th>performance</th>
                    </tr>
                  </thead>
                  <tbody>

                    <ng-container *ngFor="let teamsInfo of teamsDetails; index as i">
                    <tr>
                      <td><span class="team_rank">{{i+1}}</span> </td>
                      <td> <span class="stats_team_logo">
                      <img class="img-fluid" src="{{ iconUrl }}team_icon/{{ teamsInfo.team_logo }}" >

                      </span> <span class="stats_team_name"> {{teamsInfo.name}}</span> </td>
                      <td><span *ngIf="teamsInfo.location">{{teamsInfo.location}}</span></td>
                      <td><span *ngIf="teamsInfo.total_submission">{{teamsInfo.total_submission}}</span></td>
                      <td><span *ngIf="teamsInfo.total_interviews">{{teamsInfo.total_interviews}}</span></td>
                      <td><span *ngIf="teamsInfo.total_joining">{{teamsInfo.total_joining}}</span></td>
                     
                        <td>18</td>
                      <td>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                    </td>
                    </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
