<div class="main-wrap">
    <!--=====================STATS=====================-->
    <!--************  SIDEBAR MENU ******************-->
    <div class="main-wrap stats_wrap">
      <div class="container-fluid padding_lft_0">
        <div class="row">
          <div class="col-md-12">
            <div class="title_wrap d-flex justify-content-center">
              <h2 class="widget__title"> 2020 Points Table</h2> </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 marg-bo-30">
            <div id="cate" class="Categories-btn">Leaders <span class="pull-right"><i class="la la-bars"></i></span> </div>
            <aside class="aside-wrap">
              <div id='sidebar-menu'>
                <div class="title">Leaders <span class="pull-right"><i class="la la-users-cog"></i></span> </div>
                <ul>
                  <li class=""><a href="">Most Submission</a> </li>
                  <li class=""><a href="">Most Starts</a> </li>
                  <li class=""><a href="">Most Valuable Player </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  <li class=""><a href="">Most </a> </li>
                  
                </ul>
              </div>
            </aside>
          </div>
          <div class="col-md-9 marg-bo-30">
            <div class="che_description-wrap">
              <div class="table-responsive">
                <table class="table table-">
                  <thead>
                    <tr>
                      <th>Rank</th>
                      <th>Team</th>
                        <th>Location</th>
                      <th>Sub</th>
                      <th>Interviews</th>
                      <th>Starts</th>
                      
                        <th>Points</th>
                      <th>performance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span class="team_rank">1</span> </td>
                      <td> <span class="stats_team_logo"><img class="img-fluid" src="./assets/images/team-logo/The-Mavericks.png" alt=""></span> <span class="stats_team_name"> The Mavericks</span> </td>
                         <td>Noida</td>
                      <td>131</td>
                      <td>55</td>
                      <td>55</td>
                     
                        <td>18</td>
                      <td>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                    </td>
                    </tr>
                    <tr>
                      <td> <span class="team_rank">2</span></td>
                      <td> <span class="stats_team_logo"> <img class="img-fluid" src="./assets/images/team-logo/Dallas-Stars.png" alt=""></span> <span class="stats_team_name"> Dallas Stars</span> </td>
                           <td>Dallas</td>
                      <td>96</td>
                      <td>63</td>
                      <td>63</td>
                   
                        <td>18</td>
                      <td>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                    </td>
                    </tr>
                    <tr>
                      <td><span class="team_rank">3</span> </td>                      
                        <td> <span class="stats_team_logo"><img class="img-fluid" src="./assets/images/team-logo/LOUnicorn-Finders-.png" alt=""> </span> <span class="stats_team_name"> LOUnicorn Finders</span> </td>
                         <td>Louisville</td>
                      <td>82</td>
                      <td>88</td>
                      <td>88</td>
                     
                        <td>18</td>
                      <td>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                    </td>
                    </tr>
                    <tr>
                      <td> <span class="team_rank">4</span></td>                      
                        <td> <span class="stats_team_logo"> <img class="img-fluid" src="./assets/images/team-logo/the-intangibles.png" alt=""> </span> <span class="stats_team_name">Intangibles</span> </td>
                         <td>Dallas</td>
                      <td>76</td>
                      <td>70</td>
                      <td>70</td>
                     
                        <td>18</td>
                      <td>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                    </td>
                    </tr>
                    <tr>
                      <td> <span class="team_rank">5</span></td>                      
                        <td> <span class="stats_team_logo"> <img class="img-fluid" src="./assets/images/team-logo/The-Cobra-Kai.png" alt=""> </span> <span class="stats_team_name"> The Cobra Kai</span> </td>
                        <td>Dallas</td>
                      <td>64</td>
                      <td>64</td>
                      <td>79</td>
                      
                        <td>18</td>
                      <td>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                    </td>
                    </tr>
                    <tr>
                      <td><span class="team_rank">6 </span></td>                      
                        <td> <span class="stats_team_logo"> <img class="img-fluid" src="./assets/images/team-logo/Tech-Knights.png" alt=""> </span> <span class="stats_team_name">Tech Knights</span> </td>
                        <td>Noida</td>
                      <td>62</td>
                      <td>82</td>
                      <td>82</td>
                      
                        <td>18</td>
                      <td>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                    </td>
                    </tr>
                    <tr>
                      <td><span class="team_rank">7</span> </td>                      
                        <td> <span class="stats_team_logo"> <img class="img-fluid" src="./assets/images/team-logo/Staffing-Ninjas.png" alt=""> </span> <span class="stats_team_name">Staffing-Ninjas</span> </td>
                        <td>Noida</td>
                      <td>62</td>
                      <td>75</td>
                      <td>75</td>
                      
                        <td>18</td>
                      <td>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span> 
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
