<!--=====================BREAKING NEWS HEADLINE START================-->
<div class="live_news_warp" id="hed" *ngIf="this.authToken"> 
  <div class="animation-bg" *ngIf="newsList">
    <div class="container-fluid">
      <!-- Row Begin-->
      <div class="row justify-content-center">
        <span class="news_title">// BREAKING NEWS // </span>
        <div class="col-md-9">
          <div class="tcontainer">

            <marquee style="min-height: 39px;">
              <!-- <div class="ticker-item arrow-right">
                  Prem Karki has successfully joined a 6+ months contract in TX.
                </div> -->

              <ng-container *ngFor='let breakingNews of newsList; index as i'>
                <div class="ticker-item">
                  <span class="birthday_news">
                    <span class="birth_img_warp">
                     <img *ngIf="breakingNews.image" class="img-fluid" src="{{ iconUrl }}profile_images/{{ breakingNews.image }}">
                    </span> {{breakingNews.news}} </span>
                  &nbsp;&nbsp;&nbsp;
                </div>
              </ng-container>
              <!-- <div class="ticker-item arrow-right">vishnu vardhan reddy pisati has successfully joined a 6+ months project in Memphis, TN with First Horizon Bank. Thanks to Abhinandan & Rahul Team for this Stellar consultant.
                </div> -->

            </marquee>
          </div>
        </div>
        <span href="#" class="News_cancel_btn"> <i class="fa fa-times" id="cross" aria-hidden="true"></i> </span>
      </div>
    </div>
  </div>
  <!--=====================BREAKING NEWS HEADLINE END==================-->

  <section id="footer" class="pf-footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <p style="
                color:#fff;
				text-align: center;
				width: 100%;">
          © 2020 LevelUp, all rights reserved.
        </p>
        <!-- <div class="col-xs-12 col-sm-3 col-md-3">
					<h5>Quicklinks</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="">News</a></li>
						<li><a href="">Results</a></li>
						<li><a href="">Videos</a></li>
						<li><a href="">Photos</a></li>
                        <li><a href="">Archive</a></li>		
                        <li><a href="">Stats</a></li>		
					</ul>
				</div>
                
                <div class="col-xs-12 col-sm-3 col-md-3">
					<h5>Teams</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="">Desk Demons</a></li>
						<li><a href="">Quest Pirates</a></li>
						<li><a href="">People Excellence</a></li>
					</ul>
				</div> 
                <div class="col-xs-12 col-sm-3 col-md-3">
					<h5>About</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="">Company </a></li>
						<li><a href="">Leadership</a></li>						
						<li><a href="">Locations</a></li>
						<li><a href="">Why We?</a></li>						
					</ul>
				</div>
                
                <div class="col-xs-12 col-sm-3 col-md-3">
					<h5>Contact</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="">Contact Us</a></li>
						<li><a href="">Sponsorship </a></li>								
					</ul>
				</div> -->

      </div>
    </div>
  </section>