<section id="footer" class="pf-footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
                
				<div class="col-xs-12 col-sm-3 col-md-3">
					<h5>Quicklinks</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="">News</a></li>
						<li><a href="">Results</a></li>
						<li><a href="">Videos</a></li>
						<li><a href="">Photos</a></li>
                        <li><a href="">Archive</a></li>		
                        <li><a href="">Stats</a></li>		
					</ul>
				</div>
                
                <div class="col-xs-12 col-sm-3 col-md-3">
					<h5>Teams</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="">Desk Demons</a></li>
						<li><a href="">Quest Pirates</a></li>
						<li><a href="">People Excellence</a></li>
					</ul>
				</div> 
                <div class="col-xs-12 col-sm-3 col-md-3">
					<h5>About</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="">Company </a></li>
						<li><a href="">Leadership</a></li>						
						<li><a href="">Locations</a></li>
						<li><a href="">Why We?</a></li>						
					</ul>
				</div>
                
                <div class="col-xs-12 col-sm-3 col-md-3">
					<h5>Contact</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="">Contact Us</a></li>
						<li><a href="">Sponsorship </a></li>								
					</ul>
				</div>
                
			</div>			
		</div>
	</section>

