<link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>

<section class="faq_wrap">

 
  <input type="text" placeholder="Search here" id="filter-search" >
  
  <h1 style="margin:0px 10px 15px 300px;font-size:60px;color:#2e242c; letter-spacing: 1px;font-family: Alata;">Frequently Asked Questions</h1><br>
  <div class="row" style="margin-top: 100px;">
    <div class="column" style="background-color:white;">
      <h1 style="text-align:center;font-size:15px"></h1><br><br>
    <button type="button" class="collapsible"filter-value=" what is levelup?"> What is LevelUp?<hr width="30%"></button>
  <div class="content">
    <p>LevelUp is a platform that you use to recognize each other in your team or across the organization for appreciating their work. LevelUp aids in enhancing and managing individual and team’s performances.
  .</p>
  </div>
    <button type="button" class="collapsible"filter-value=" why levelup?"> Why LevelUp?<hr width="30%"></button>
  <div class="content">
    <p>  Across an organization, LevelUp is used by an employee and employer to manage their growth. At the same time, at an individual level, it sets the individual to plan and achieve growth at break-neck speeds purely by performance and contribution.
  .</p>
  </div>
  
    <button type="button" class="collapsible"filter-value="what are targets and kpis?">What are Targets and KPIs?<hr width="30%"></button>
  <div class="content">
    <p>Targets and KPIs are related to either an individual or a team and is set by the respective Manager. This option is not available for an individual when she logs into LevelUp.</p>
  </div>
    <button type="button" class="collapsible"filter-value="do targets have any time period?">Do Targets have any time period?<hr width="30%"></button>
  <div class="content">
    <p>Targets are aligned with Organizational Goals and can be daily, weekly, monthly quarterly, half-yearly or annual targets.</p>
  </div>
    <button type="button" class="collapsible"filter-value="who can give core Values and kudos?">Who can give Core Values and Kudos?<hr width="30%"></button>
  <div class="content">
    <p>As motivation and recognition are essential, Core Values and Kudos can be given and received by any individual at any level across the organization.</p>
  </div>
  
    <button type="button" class="collapsible"filter-value="how many kudos can be given?">How many Kudos can be given?<hr width="30%"></button>
  <div class="content">
    <p>There is no limit for giving kudos to an individual. The idea is to appreciate good work and recognizing the same – is there an end to doing good work?</p>
  </div>
  <button type="button" class="collapsible"filter-value="how many Core Values can be given?">How many Core Values can be given?<hr width="30%"></button>
  <div class="content">
    <p>While only 6 core values can be given to or by an individual, this number gets refreshed at the beginning of every quarter. There is no carry-forward allowed. Either the core values or given within the quarter or they get exhausted.
  .</p>
  </div>
   </div>
    <div class="column" style="background-color:white;">
    <h1 style="color:#525252; text-align:center;font-size:15px"></h1><br><br>
    
  
  <button type="button" class="collapsible"filter-value="who can give core values and kudos?">Who can give Core Values and Kudos?<hr width="30%"></button>
  <div class="content">
    <p>  As motivation and recognition are essential, Core Values and Kudos can be given and received by any individual at any level across the organization.
  .</p>
  </div>
    <button type="button" class="collapsible"filter-value="what are core value points?">What are Core Value points?<hr width="30%"></button>
  <div class="content">
    <p>Each core value has a weightage of 2 points. Every quarter, a user can give only 6 core values to others across the teams</p>
  </div>
    
    <button type="button" class="collapsible"filter-value="where do I see kudos received?">Where do I see Kudos Received?<hr width="30%"></button>
  <div class="content">
    <p>Under Give Recognition page, under Kudos Received tab the user can see the list of Kudos that the user has received from others across the organization.</p>
  </div>
  <button type="button" class="collapsible"filter-value="who is a top giver?">Who is a Top Giver?<hr width="30%"></button>
  <div class="content">
    <p>Under Give Recognition page, The Top Giver tab represents the list of employees from who I have received the Core Value stickers (these add up to the points shown on the same page at the rate of 2 points for each Core Value).</p>
  </div>
    <button type="button" class="collapsible"filter-value="who is a top receiver?">Who is a Top Receiver?<hr width="30%"></button>
  <div class="content">
    <p>Under Give Recognition page, The Top Receiver tab represents the list of employees to who I have given the Core Value stickers.</p>
  </div>
  
  <button type="button" class="collapsible"filter-value="where do i see kudos given? ">Where do I see Kudos Given? <hr width="30%"></button>
  <div class="content">
    <p>Under Give Recognition page, under Kudos Given tab the user can see the list of Kudos that the user has given to others across the organization.</p>
  </div>
  
    
  </div>
    
  <button class="open-button" onclick="openForm()">Send Feedback</button>
  
  <div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
      <h1 style="font-family:lato;color:#525252;text-align:center">Feedback</h1>
  
     
      <input type="text" placeholder="abc@saxonglobal.com" name="email" required>
  
      <label for="psw"></label>
      <input type="text" placeholder="Give your feedback here" name="psw" required>
  
      <button type="submit" class="btn"><b>Submit</b></button>
      <button type="button" class="btn cancel" onclick="closeForm()"><b>Close</b></button>
    </form>
  </div>
  
  </div>
</section>  

