<app-sidebar></app-sidebar> 
<div class="das_col main-content" id="main-content" >
  <section class="wrapper main-wrapper recognition_warp">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <section class="goals_warp Demo-text-class"> 
            <div class="row">
              <div class="col-md-12">
                <div class="title"> Badges </div> 
              </div>
            </div>
            <!--============================= Give Recognition=============================-->
            <div class="row">
              <div class="col-md-12">

                <div class="box-1">
							<div class="badge_start">
								<!-- <div class="Badge_warp_bag">
									<div class="row">
										<div class="col-md-2">
											<div class="for_exmp_icon">
												<img class="img-fluid" src="../assets/images/sticker/badges/rock-star.png" />
											</div>
										</div>
										<div class="col-md-3 badge_fild">
											<div class="form-group form-control-wrap">
												<label class="form-control-label" for="First name">Badge</label>
												<input type="text" class="form-control" id="" placeholder="Rock Star">
											</div>
											<div class="form-group form-control-wrap">
												<input type="text" class="form-control" id="" placeholder="You earn a Rockstar Badge">
											</div>
											<div class="form-group form-control-wrap">
												<input type="text" class="form-control" id="" placeholder="100">
											</div>
										</div>
										<div class="col-md-7">
											<div class="badges_level_warp">
												<ul>
													<li>
														<div class="badges_level">
															<h4 class="level_number">Level 1</h4>
															<label for="document-upload">
																<input type="file" id="document-upload">
																<div class="file-upload">
																	<img src="../assets/images/picture.png" />
																</div>
															</label>
															<input type="text" class="form-control" id="" placeholder="100">
														</div>
													</li>
													<li>
														<div class="badges_level">
															<h4 class="level_number">Level 2</h4>
															<label for="document-upload">
																<input type="file" id="document-upload">
																<div class="file-upload">
																	<img src="../assets/images/picture.png" />
																</div>
															</label>
															<input type="text" class="form-control" id="" placeholder="100">
														</div>
													</li>
													<li>
														<div class="badges_level">
															<h4 class="level_number">Level 3</h4>
															<label for="document-upload">
																<input type="file" id="document-upload">
																<div class="file-upload">
																	<img src="../assets/images/picture.png" />
																</div>
															</label>
															<input type="text" class="form-control" id="" placeholder="100">
														</div>
													</li>
													<li>
														<div class="badges_level">
															<h4 class="level_number">Level 4</h4>
															<label for="document-upload">
																<input type="file" id="document-upload">
																<div class="file-upload">
																	<img src="../assets/images/picture.png" />
																</div>
															</label>
															<input type="text" class="form-control" id="" placeholder="100">
														</div>
													</li>
													<li>
														<div class="badges_level">
															<h4 class="level_number">Level 5</h4>
															<label for="document-upload">
																<input type="file" id="document-upload">
																<div class="file-upload">
																	<img src="../assets/images/picture.png" />
																</div>
															</label>
															<input type="text" class="form-control" id="" placeholder="100">
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<button class="cmn_btn pull-right">Create</button>
											<button class="cmn_btn btn_for_cancel pull-right">Cancel</button>
										</div>
									</div>
								</div> -->
								<hr class="my-hr">
                                <div class="Badge_warp_bag">
                                    <div class="row">
                                 <div class="col-md-12">
                                    <h3>System Badge</h3>
                                    </div>
                                    </div>
                                </div>
								<div class="Badge_warp_bag">
									<div class="row">
										<div class="award_img_select_warp">                                            
											<div class="col-md-1 rockstar_hand_icon">
												<img class="img-fluid" src="../assets/images/sticker/badges/rockstar-hand.png">
											</div>
											<div class="col-md-3">
												<h4 class="badge_title">Rock Star</h4>
												<p>You earn a Rockstar Badge when you accumulate points for receiving praise</p>
												<input class="active_btn" type="button" value="Active">
											</div>
											<div class="col-md-8">                                                
												<div class="">
													<ul>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/rock-star.png">
															</div> <span data-toggle="modal" data-target="#myModal4" class="badge_point">400</span>
														</li>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/rock-star.png">
															</div> <span data-toggle="modal" data-target="#myModal4" class="badge_point">800</span>
														</li>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/rock-star.png">
															</div> <span data-toggle="modal" data-target="#myModal4" class="badge_point">1200</span>
														</li>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/rock-star.png">
															</div> <span data-toggle="modal" data-target="#myModal4" class="badge_point">1600</span>
														</li>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/rock-star.png">
															</div> <span data-toggle="modal" data-target="#myModal4" class="badge_point">2000</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
                                <hr class="my-hr">
                                <div class="Badge_warp_bag">
                                    <div class="row">
                                 <div class="col-md-12">
                                    <!-- <h3>System Badge</h3> -->
                                    </div>
                                    </div>
                                </div>
								<div class="Badge_warp_bag">
									<div class="row">
										<div class="award_img_select_warp">                                            
											<div class="col-md-1 rockstar_hand_icon">
												<img class="img-fluid" src="../assets/images/sticker/badges/team-hand.png">
											</div>
											<div class="col-md-3">
												<h4 class="badge_title">Team Player</h4>
												<p>You earn a Team Player Badge when you accumulate points for receiving praise</p>
                                                <input class="for_active_btn" type="button" value="Active">
											</div>
											<div class="col-md-8">                                                
												<div class="">
													<ul>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/team-player.png">
															</div> 
                                                            <span class="badge_point">200</span>
														</li>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/team-player.png">
															</div> <span class="badge_point">500</span>
														</li>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/team-player.png">
															</div> <span class="badge_point">800</span>
														</li>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/team-player.png">
															</div> <span class="badge_point">1000</span>
														</li>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/team-player.png">
															</div> <span class="badge_point">1500</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
                                
                                <hr class="my-hr">
								<div class="Badge_warp_bag">
									<div class="row">
										<div class="award_img_select_warp">                                            
											<div class="col-md-1 rockstar_hand_icon">
												<img class="img-fluid" src="../assets/images/sticker/badges/valuable-player.png">
											</div>
											<div class="col-md-3">
												<h4 class="badge_title">Most Valuable Player</h4>
												<p>You earn a Most Valuable Player Badge when you accumulate points for receiving praise</p>
                                                <input class="for_active_btn" type="button" value="Active">
											</div>
											<div class="col-md-8">                                                
												<div class="">
													<ul>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/most-valuable-player.png">
															</div>
                                                            <span data-toggle="modal" data-target="#myModal4" class="badge_point">400</span>
                                                            
														</li>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/most-valuable-player.png">
															</div> <span class="badge_point">800</span>
														</li>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/most-valuable-player.png">
															</div> <span class="badge_point">1200</span>
														</li>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/most-valuable-player.png">
															</div> <span class="badge_point">1600</span>
														</li>
														<li>
															<div class="">
																<img src="../assets/images/sticker/badges/most-valuable-player.png">
															</div> <span class="badge_point">2000</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
                               <!--  <section class="Gamification_Rules_wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="rule_title">
                                        Discretionary Points
                                        </div>                                        
                                        <div class="rule_form">
                                          <li class="" data-toggle="collapse" data-target="#aa">
                                              <span class="point_value">+ 1</span>
                                              <span class="pointe_dec" >Award discretionary points to the user</span>
                                            </li>
                                              <div id="aa" class="collapse">
                                               <div class="form-group form-control-wrap">
												<input type="text" class="form-control" id="" placeholder="10">
                                                <button type="button" class="rul_sm_btn btn_Y" value=""><i class="las la-check"></i></button>
                                                <button type="button" class="rul_sm_btn btn_N" value=""><i class="las la-times"></i></button>
											   </div>
                                            </div>
                                        </div>
                                        <div class="rule_title">
                                        Status Update
                                        </div> 
                                        <div class="rule_form">
                                          <li class="" data-toggle="collapse" data-target="#ab">
                                              <span class="point_value">+ 1</span>
                                              <span class="pointe_dec" >For sharing a status</span>
                                            </li>
                                              <div id="ab" class="collapse">
                                               <div class="form-group form-control-wrap">
												<input type="text" class="form-control" id="" placeholder="10">
                                                <button type="button" class="rul_sm_btn btn_Y" value=""><i class="las la-check"></i></button>
                                                <button type="button" class="rul_sm_btn btn_N" value=""><i class="las la-times"></i></button>
											   </div>
                                            </div>
                                        </div>
                                        
                                        <div class="rule_form">
                                          <li class="" data-toggle="collapse" data-target="#ac">
                                              <span class="point_value">+ 1</span>
                                              <span class="pointe_dec" >For receiving likes</span>
                                            </li>
                                              <div id="ac" class="collapse">
                                               <div class="form-group form-control-wrap">
												<input type="text" class="form-control" id="" placeholder="10">
                                                <button type="button" class="rul_sm_btn btn_Y" value=""><i class="las la-check"></i></button>
                                                <button type="button" class="rul_sm_btn btn_N" value=""><i class="las la-times"></i></button>
											   </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </section> -->
                                
                               
<!--     BADGES POINTE ADD MODAL=====================   -->
			<!-- <div class="modal" id="myModal4">
				<div class="modal-dialog  modal-sm model_private">
					<div class="modal-content">
						
						<div class="modal_header">
							<h4 class="modal-title">Add Points</h4>
							<button type="button" class="close" data-dismiss="modal">
                            <i class="la la-times-circle fa-lg"></i>
                            </button>
						</div>
						
						<div class="modal_content">
							<div class="user-edit-form quick_editor">
								<div class="form-warp">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group form-control-wrap">	
                                                 <div class="form-group form-control-wrap">
													<label class="form-control-label" for="First name">Add Points</label>
													<input type="text" class="form-control" id="" placeholder="100">
												</div>   
                                               
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					
						<div class="modal_footer">
							<div class="row">
								<div class="col-md-12">
									<button class="cmn_btn pull-right">Save</button>
									<button class="cmn_btn btn_for_cancel pull-right">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>  -->
                 </div>
				</div>
              </div>
              
            </div>
          </section>
        </div>

      </div>

    </div>
  </section>
</div>

<!-- <ng-template #loadingData>

    <section class="looding-wrap">
     <div class="loader">
      <img src="./assets/images/loader.gif" style="margin-left:50%; margin-top:20%; margin-bottom: 100px;" />
     </div>
    </section>

</ng-template>
 --><notifier-container></notifier-container>