<div class="main-wrap">
    <!--=====================STATS HEADER=====================-->
       <div class="stats_main_wrap bg-gradient-info">
       <div class="container">
          <div class="row">
           <div class="col-md-12">
              <div class="stats_title">
               <h1>Most Starts</h1>
               </div>
              </div>
           </div>
          </div>
      </div>  
   
    <div class=" stats_wrap">
      <div class="container-fluid padding_lft_0">
        <div class="row">
          <div class="col-md-12">           
            <div class="title_wrap d-flex justify-content-left">
             <h4 class="widget__title">Leaders</h4>
              </div>
              
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 marg-bo-30">
            <app-stats-sidebar></app-stats-sidebar>
          </div>
          <div class="col-md-9 marg-bo-30">
              <div class="row">
              <div class="col-md-4">
                  <div class="title_wrap d-flex justify-content-left">
             <h4 class="table__title">Most Starts</h4>
              </div>
                  </div>
              <div class="col-md-4">
                  <div class="drop-down team__filter">
         <div id="filter_by_team" class="drop-down__button">
           <span class="drop-down__name ">All Teams <span class="pull-right"><i class="las la-angle-down"></i></span> </span>
         </div>         
         <div class="drop-down__menu-box">
           <ul class="drop-down__menu">
                  <li class="drop-down__item"><a href="">Desk Demons</a> </li>                  
                  <li class="drop-down__item"><a href="">Quest Pirates</a> </li>
                  <li class="drop-down__item"><a href="">Staffing Ninjas</a> </li>
                  <li class="drop-down__item"><a href=""> The Mavericks  </a></li>
                  <li class="drop-down__item"><a href="">Crusaders  </a></li>
                  <li class="drop-down__item"><a href=""> Hi-Tech Hyderabad </a></li>
                  <li class="drop-down__item"><a href="">  Dumdaar Hyderabadi </a></li>
                  <li class="drop-down__item"><a href="">  Creative Hyderabadi</a></li>
                  <li class="drop-down__item"><a href=""> Hyper Hyderabadi </a></li>
                  <li class="drop-down__item"><a href="">  Enterprise Eagles </a></li>
                  <li class="drop-down__item"><a href=""> Bengal Warriors  </a></li>
                  <li class="drop-down__item"><a href="">  Greed Pack </a></li>
                  <li class="drop-down__item"><a href="">   LOUnicorn Finders</a></li>
                  <li class="drop-down__item"><a href="">   Dallas Stars</a></li>
           </ul>
         </div>
       </div>
                  </div>
              <div class="col-md-4">
                  <div class="drop-down player_filter">
         <div id="filter_by_player" class="drop-down__button filter_nav3">
           <span class="drop-down__name ">All Players <span class="pull-right"><i class="las la-angle-down"></i></span> </span>
         </div>         
         <div class="drop-down__menu-box">
           <ul class="drop-down__menu">             
                  <li class="drop-down__item"><a href="">All Players</a> </li>                  
                  <li class="drop-down__item"><a href="">Indian</a> </li>
                  <li class="drop-down__item"><a href="">Overseas</a> </li>
           </ul>
         </div>
       </div>
                  </div>
              </div>
              
            <div class="che_description-wrap most_player">
              <div class="table-responsive">
                <table class="table table-">
                  <thead>
                    <tr>
                      <th>Rank</th>
                      <th>Name</th>
                      <th>Team</th>
                      <th>Month</th>
                      <th>client interview</th>
                      <th>Starts</th>                      
                       <th>Strike Rate</th>
                      <th>                         
                        <div class="performance_wrap">
                             <span>performance</span>
                            <span class="performance_title">last five weeks</span>
                            
                          </div>
                        </th>
                    </tr>
                  </thead>
                  <tbody>

                  <ng-container *ngFor="let starts of usersJoining | orderBy: order: true; let i = index">

                    <tr *ngIf="i==0" class="top__player bg_desk_dem">
                      <td><span class="team_rank">{{i+1}}</span> </td>
                      <td> 
                      	<span class="stats_team_image">
                      	 <img class="img-fluid" src="{{ iconUrl }}profile_images/{{ starts.profile_image_name }}">
                        </span> 
                      	<span class="stats_team_name"> {{starts.display_name | titlecase}}</span> 
                      </td>
                      <td>{{starts.name}}</td>
                      <td>4</td>
                      <td>55</td>
                      <td class="is__active">{{starts.total_joining}}</td>
                     
                        <td>48</td>
                      <td>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                    </td>
                    </tr>


					  <tr *ngIf="i!=0">
                      <td><span class="team_rank">{{i+1}}</span> </td>
                      <td> 
                      	<span class="stats_team_image">
                      	 <img class="img-fluid" src="{{ iconUrl }}profile_images/{{ starts.profile_image_name }}">
                        </span> 
                      	<span class="stats_team_name"> {{starts.display_name | titlecase}}</span> 
                      </td>
                      <td>{{starts.name}}</td>
                      <td>4</td>
                      <td>55</td>
                      <td class="is__active">{{starts.total_joining}}</td>
                     
                        <td>48</td>
                      <td>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                          <span div class="team_performance_aero low_performance"><i class="las la-arrow-down"></i></span>
                          <span div class="team_performance_aero high_performance"><i class="las la-arrow-up"></i></span>
                    </td>
                    </tr>
                    </ng-container>

                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
