<div class="das_col main-content" id="main-content">
<div class="page-topbar">
	<div class="container-fluid">
		<div class="quick-area">
			<div class="d-flex justify-content-between">
				<div class="flex_col">
					<div id="menu_icon" class="block">
						<div class="cta">
							<div class="toggle-btn type14"></div>
						</div>
					</div>
				</div>
				<div class="flex_col">
					<!-- <form class="search">
						<div class="search">
							<input type="text" class="searchTerm" placeholder="Search">
							<button type="submit" class="searchButton"> <i class="la la-search"></i></button>
						</div>
					</form> -->
				</div>
				<div class="flex_col">
					<ul class="pull-right info-menu user-info">
						<li class="nav-item dropdown profile">
							<a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
								<img src="{{user.image_path}}"> <span>{{user.first_name}} <i class="fa fa-angle-down"></i></span>
							</a>
							<div class="dropdown-menu profile fadeIn">
								<a class="dropdown-item" href=""><i class="las la-user-circle"></i> My profile</a>
								<div class="dropdown-divider"></div>
								<!-- <a class="dropdown-item" href="#"><i class="las la-cog"></i> Settings</a>             
								<a class="dropdown-item" href="#"><i class="las la-bell"></i> Notifications</a>
								<a class="dropdown-item" href="#"><i class="las la-life-ring"></i> Support</a> -->
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" (click)="userService.logout()"> <i class="las la-running"></i> Logout</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>