<app-sidebar></app-sidebar>
 <div class="das_col main-content" id="main-content">
	    <section class="wrapper main-wrapper recognition_warp"> 
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="title"><i _ngcontent-jrn-c5="" class="las la-puzzle-piece"></i> Gamification Rules</div>
						<form #form="ngForm" ngNativeValidate (submit)="addKpi(form)">
							<input type="hidden" name="userID"  #userID="ngModel" [ngModel]="userProfile.user_id"> 

						<div class="box-0">
                            <div class="row">
                            <div class="col-md-12">
                                <div class="formula_wrap">
                                <h3>Formula to apply to your behaviors</h3>
                                 
                                   <div class="formula_type_radio">
                                    <label class="check_box">
                                    	<input type="radio"  #formula="ngModel" name="formula" [(ngModel)]="gRulemodel.formula" [value]="1"  id="cb1">
                                        <span class="checkmark"></span>
									    <span>Sum (e.g., "records created" or "revenue generated")</span>
                                    </label>
                                       
                                    <label class="check_box">
                                    <input type="radio"  #formula="ngModel" name="formula" [(ngModel)]="gRulemodel.formula" [value]="2"  id="cb2">
								    
                                        <span class="checkmark"></span>
									    <span>Average (e.g., "average deal size" or "average number of employees")</span>
                                    </label>
                                       
                                    <label class="check_box">
                                    <input type="radio"  #formula="ngModel" name="formula" [(ngModel)]="gRulemodel.formula" [value]="3" id="cb3">
                                        <span class="checkmark"></span>
									    <span>Rate/Ratio (e.g., "potentials created vs. leads created" or "win rate")</span>
                                    </label>
                                    </div>
                                     
                                   
                                </div>
                                </div>
                            </div>
                        </div>
						<div class="box-0">
							
							<div class="user_teams_table_wrap points_table_wrap">
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>KPI</th>
												<th>Behaviors</th>
												<th>Points</th>
												<!-- <th>Weightage</th> -->
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="width: 300px;">
                                                    
													<div class="private_points_wrap">
														<input type="text" class="private-form__control" #kpiName="ngModel" name="kpiName" [(ngModel)]="gRulemodel.kpiName">
													</div>

												</td> 

												<td>
													
														<select class="custom-select" #behavior="ngModel" name="behavior" [ngModel]="selectedBehavior" id="kpi_behavior">
															<option value="">Select Behavior</option>

															<ng-container *ngFor='let behavior of behaviorsList; let i = index'>
																<option  value="{{behavior.id}}">{{behavior.name}}</option>
															</ng-container>

															<option value="-1">Custom</option>
															
														</select>
													
												</td>                                               
												<td>
													
														<select class="custom-select" #kpiPoint="ngModel" name="kpiPoint" [ngModel]="selectedPoint" id="kpi_point">
															<option value="">Select Point</option>
															<ng-container *ngFor='let pointVal of pointList; let i = index'>
															 <option value="{{pointVal.point}}">{{pointVal.point}}</option>
														    </ng-container>
															<!-- <option value="-1">Custom</option> -->
														</select>
													
												</td>
												<!-- <td>
                                                    
													<div class=" ">
														<div class="dropdown-select warning"> 
														<select class="custom-select" #kpiweightage="ngModel" name="kpiweightage" [(ngModel)]="form.kpiweightage">
															<option *ngFor='let value of weightage; let i = index' value="{{value}}">{{value}}%</option>
														</select>
															
														</div>
													</div>
                                                    
                                                      
												</td> -->
											</tr>
											
										</tbody>
                                        
									</table>
                                     <div class="add_metric_btn_warp">                                     
	                               <input value="Add KPI" class="add_metric_btn" autocomplete="false" type="submit">
                                         </div>
								</div>
							</div>
						
						</div>
						</form>
					</div>
				</div>
                
			</div>
		</section>
	</div>


<!-- behavior modal start -->

 <!-- Modal -->
  <div class="modal fade" id="behaviorModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
      	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      	<form #form_b="ngForm" ngNativeValidate (submit)="addBehavior(form_b)">
	        <div class="modal-body">
	          <span>Behavior Name</span>
	          <input type="text" class="private-form__control" #custom_behavior="ngModel" name="custom_behavior" [(ngModel)]="gRulemodel.custom_behavior">
	        </div>
	        <div class="modal-footer">
	        	<input value="Add Behavior" class="add_metric_btn" autocomplete="false" type="submit">
	          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
	        </div>
       </form>
      </div>
      
    </div>
  </div>
  <!-- behavior modal end -->

  <!-- point modal start -->

 <!-- Modal -->
  <div class="modal fade" id="pointModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
      	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      	<form #form_p="ngForm" ngNativeValidate (submit)="addNewPoint(form_p)">
	        <div class="modal-body">
	          <span>Point</span>
	          <input type="text" class="private-form__control" #custom_point="ngModel" name="custom_point" [(ngModel)]="gRulemodel.custom_point">
	        </div>
	        <div class="modal-footer">
	        	<input value="Add Point" class="add_metric_btn" autocomplete="false" type="submit">
	        </div>
       </form>
      </div>
      
    </div>
  </div>
  <!-- point modal end -->


  <notifier-container></notifier-container>