<div class="das_col page-sidebar expandit">
    <div class="sidebar-inner" id="main-menu-wrapper">
      <div class="dash_logo_warp"> 
         <a [routerLink]="['/']"><div class="logo-area"> </div></a>
        </div>        
      <ul class="wraplist" style="height: auto;">
        <li>
        	<a routerLinkActive='active' [routerLink]="['/dashboard']">
                <span class="sidebar-icon"><i class="las la-home"></i>
                </span> <span class="menu-title">Home</span>
            </a>
        </li>
          <li><a routerLinkActive='active' [routerLink]="['/profile']">
                <span class="sidebar-icon"><i class="las la-info-circle"></i>
                </span> <span class="menu-title">Basic Info</span> 
            </a></li>
       <!--  <li><a href="" class="active">
            <span class="sidebar-icon"><i class="las la-bell"></i>
            </span> <span class="menu-title">Notifications</span>
            </a>
        </li>
        <li><a href="">
            <span class="sidebar-icon"><i class="las la-shield-alt"></i>
            </span> <span class="menu-title">Security</span>
            </a>
        </li> -->
          <hr>
          <li><a routerLinkActive='active' [routerLink]="['/user', user.user_id]">
            <span class="sidebar-icon"><i class="lar la-user"></i>
            </span> <span class="menu-title">Account</span>
            </a>
        </li>
        <li><a routerLinkActive='active' [routerLink]="['/goals']">
            <span class="sidebar-icon"><i class="las la-bullseye"></i>
            </span> <span class="menu-title">Goals</span>
            </a>
        </li>
        <!-- <li><a href="">
            <span class="sidebar-icon"><i class="las la-certificate"></i>
            </span> <span class="menu-title">Badges</span>
            </a>
        </li>
        <li><a href="">
            <span class="sidebar-icon"><i class="las la-trophy"></i>
            </span> <span class="menu-title">Awards</span>
            </a>
        </li> -->
          <li><a routerLinkActive='active' [routerLink]="['/core-value']">
            <span class="sidebar-icon"><i class="las la-hand-holding-heart"></i>
            </span> <span class="menu-title">Give Recognition</span>
            </a>
        </li>
          <li *ngIf="user.role_type==3"><a routerLinkActive='active' [routerLink]="['/users-teams']">
            <span class="sidebar-icon"><i class="las la-users"></i>
            </span> <span class="menu-title">Users & Teams</span>
            </a>
        </li>
          <li *ngIf="user.role_type==3"><a routerLinkActive='active' [routerLink]="['/core-value-toppers']">
            <span class="sidebar-icon"><i class="las la-puzzle-piece"></i>
            </span> <span class="menu-title">Core Value Toppers</span>
            </a>
        </li>
           <li><a routerLinkActive='active' [routerLink]="['/appraisal-cycle']">
            <span class="sidebar-icon"><i class="las la-id-card-alt"></i>
            </span> <span class="menu-title">Appraisal Cycle</span>
            </a>
        </li>
          <hr>
         <li><a routerLinkActive='active' [routerLink]="['/badges']">
            <span class="sidebar-icon"><i class="fa fa-shield"></i>
</span> <span class="menu-title">Badges</span>
            </a>
        </li>
        <!-- 
          <li><a href="">
            <span class="sidebar-icon"><i class="las la-life-ring"></i>
            </span> <span class="menu-title"> Support</span>
            </a>
        </li> -->
          <li><a >
            <span class="sidebar-icon"><i class="las la-running"></i>
            </span> <span class="menu-title" (click)="userService.logout()"> Logout</span>
            </a>
        </li>
      </ul>
    </div>
  </div>