/*============================= SIDEBAR MENU =============================*/
#sidebar-menu .active {
    background-color: #eaf0f6 !important;    
    border-radius: 4px;
}
#sidebar-menu .title {
    padding: 13px 18px;
    font-family: 'Alata';
    background-color: #17398a;
    border-bottom: solid 0px;
    border-radius: 4px 4px 0px 0px;
}
#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu ul li,
#sidebar-menu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sidebar-menu {
    background-color: #ffffff;
    height:100vh;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); */
}
#sidebar-menu hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border: 0;
    border-top: 1px solid #cecece;
}
#sidebar-menu ul ul {
  display: none;
}
#sidebar-menu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#sidebar-menu > ul > li > a {
    padding: 13px 15px;
    font-family: 'Quicksand-bold';
    cursor: pointer;
    z-index: 2;
    font-size: 15px;
    text-decoration: none;
    color: #1f1f1f;
    color: #525f7f;
    background: #ffffff;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;    
}
#sidebar-menu > ul > li > a:hover{
    background-color:#eaf0f6;
}
#sidebar-menu ul > li.has-sub > a:after {
    position: absolute;
    right: 23px;
    top: 19px;
    z-index: 5;
    display: block;
    height: 10px;
    width: 2px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    background: #2196f2;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}#sidebar-menu ul > li.has-sub > a:before {
    position: absolute;
    right: 26px;
    top: 23px;
    display: block;
    -webkit-transform: rotate(220deg);
    transform: rotate(220deg);
    width: 10px;
    height: 2px;
    background: #2196f3;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
#sidebar-menu ul > li.has-sub.open > a:after,
#sidebar-menu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}



#sidebar-menu ul ul li a {
    padding: 14px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-family: 'Alata';
    background: #ffffff;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#sidebar-menu ul ul ul li a {
  padding-left: 32px;
}
#sidebar-menu ul ul li a:hover {
 background-color:#eaf0f6;
}
#sidebar-menu ul ul > li.has-sub > a:after {
    top: 16px;
    right: 24px;
    background: #2196f3;
}
#sidebar-menu ul ul > li.has-sub > a:before {
  top: 20px;
   background: #2196f3;
}