<!-- <div id="cate" class="Categories-btn">Your preferences <span class="pull-right"><i class="la la-bars"></i></span>	
</div>
<aside class="aside-wrap">
	<div id='sidebar-menu'>
		<div class="title">Your Preferences <span class="pull-right"><i class="la la-users-cog"></i></span>	
		</div>
		<ul>
			<li class=""><a [routerLink]="['/profile']">Basic info</a>
			</li>
			 <li><a routerLinkActive='active' [routerLink]="['/notifications']">Notifications</a>
			</li>
			<li class=""><a routerLinkActive='active' [routerLink]="['/security']">Security</a>
			</li>
			<hr>
			 <li class="active"><a class="" href='#'>Account</a>
			</li> 
			<li><a routerLinkActive='active' [routerLink]="['/goals']">Goals</a>
			</li>
			<li><a routerLinkActive='active' [routerLink]="['/gamification-rules']">Gamification Rules</a>
			</li>
			 <li class="active"><a class="" href='#'>Badges</a>
			</li>
			<li class="active"><a routerLinkActive='active' [routerLink]="['/core-value']">Core Values</a>
			</li> 
			<li class="active"  *ngIf="user.role_type==3"><a routerLinkActive='active' [routerLink]="['/core-values']">Core Values</a>
			</li> 
			<li *ngIf="user.role_type==3"><a routerLinkActive='active' [routerLink]="['/users-teams']">Users & Teams</a>
			</li>
		</ul>
	</div>
</aside> -->


<div class="das_col page-sidebar expandit">
    <div class="sidebar-inner" id="main-menu-wrapper">
      <div class="dash_logo_warp"> 
         <div class="logo-area"> </div>
          </div>        
      <ul class="wraplist" style="height: auto;">
        <li>
        	<!-- <a href="">
                <span class="sidebar-icon"><i class="las la-home"></i>
                </span> <span class="menu-title">Dashboard</span>
            </a> -->
        </li>
          <li><a routerLinkActive='active' [routerLink]="['/profile']">
                <span class="sidebar-icon"><i class="las la-info-circle"></i>
                </span> <span class="menu-title">Basic info</span>
            </a></li>
       <!--  <li><a href="" class="active">
            <span class="sidebar-icon"><i class="las la-bell"></i>
            </span> <span class="menu-title">Notifications</span>
            </a>
        </li>
        <li><a href="">
            <span class="sidebar-icon"><i class="las la-shield-alt"></i>
            </span> <span class="menu-title">Security</span>
            </a>
        </li> -->
          <hr>
         <!--  <li><a href="">
            <span class="sidebar-icon"><i class="lar la-user"></i>
            </span> <span class="menu-title">Account</span>
            </a>
        </li> -->
        <li><a routerLinkActive='active' [routerLink]="['/goals']">
            <span class="sidebar-icon"><i class="las la-bullseye"></i>
            </span> <span class="menu-title">Goals</span>
            </a>
        </li>
        <!-- <li><a href="">
            <span class="sidebar-icon"><i class="las la-certificate"></i>
            </span> <span class="menu-title">Badges</span>
            </a>
        </li>
        <li><a href="">
            <span class="sidebar-icon"><i class="las la-trophy"></i>
            </span> <span class="menu-title">Awards</span>
            </a>
        </li> -->
          <li><a routerLinkActive='active' [routerLink]="['/core-value']">
            <span class="sidebar-icon"><i class="las la-hand-holding-heart"></i>
            </span> <span class="menu-title">Core Values</span>
            </a>
        </li>
          <li><a routerLinkActive='active' [routerLink]="['/users-teams']">
            <span class="sidebar-icon"><i class="las la-users"></i>
            </span> <span class="menu-title">Users & Teams</span>
            </a>
        </li>
          <li><a routerLinkActive='active' [routerLink]="['/gamification-rules']">
            <span class="sidebar-icon"><i class="las la-puzzle-piece"></i>
            </span> <span class="menu-title">Gamification Rules</span>
            </a>
        </li>
         <!--  <li><a href="">
            <span class="sidebar-icon"><i class="las la-id-card-alt"></i>
            </span> <span class="menu-title">Appraisal Cycle</span>
            </a>
        </li>
          <hr>
          <li><a href="">
            <span class="sidebar-icon"><i class="las la-cog"></i>
            </span> <span class="menu-title"> Settings</span>
            </a>
        </li>
          <li><a href="">
            <span class="sidebar-icon"><i class="las la-life-ring"></i>
            </span> <span class="menu-title"> Support</span>
            </a>
        </li> -->
          <li><a href="">
            <span class="sidebar-icon"><i class="las la-running"></i>
            </span> <span class="menu-title"> Logout</span>
            </a>
        </li>
      </ul>
    </div>
  </div>