<div class="main-wrap">
		<!--===================== SETTING =====================-->
		<section class="setting_wrap">
			<app-setting-bar></app-setting-bar>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 marg-bo-30">
						<app-sidebar></app-sidebar>
					</div>
					<div class="col-md-6">
						<div class="title">Security</div>
						<div class="box-1">
							<div class="user-edit-form">
								<div class="form-warp">
									<!--===================Address 1===================-->
									<div class="row">
										<div class="col-md-12">
											<div class="form-group form-control-wrap">
												<label class="form-control-label" for="Username">Email</label>
												<input type="text" class="form-control" id="user-name" placeholder="Email">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group form-control-wrap">
												<label class="form-control-label" for="Country Code">Password</label>
												<input type="text" class="form-control" id="countryCode" placeholder="Password">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<button class="cmn_btn pull-right">Update</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
