<app-nav *ngIf="router.url == '/' || router.url == '/home' || router.url == '/teams' || router.url == '/team-details' || router.url == '/stats'"></app-nav>
<app-dashboard-nav *ngIf="router.url !== '/login' && router.url !== '/signup' && router.url !== '/forgot-password' && router.url !== '/home' && router.url !== '/' && router.url !== '/teams' && router.url !== '/team-details' && router.url !== '/live-dashboard' && router.url !== '/stats'"></app-dashboard-nav>
<router-outlet></router-outlet> 
<app-footer *ngIf="router.url == '/' || router.url == '/teams' || router.url == '/team-details'|| router.url == '/stats'"></app-footer>
