
	<div class="Categories-btn" id="">
		<div class="drop-down">
			<div id="dropDown" class="drop-down__button">
				<span class="drop-down__name ">Account Executive (Sales) <span class="pull-right"><i class="las la-angle-down"></i></span> </span>
			</div>         
			<div class="drop-down__menu-box">
				<ul class="drop-down__menu"> 
					<li class="drop-down__item"><a routerLinkActive='active' [routerLink]="['/stats/most-job-orders']">Most Job Orders </a> </li>
					<li class="drop-down__item"><a routerLinkActive='active' [routerLink]="['/stats/most-client-interviews/1']">Most Client Interviews </a> </li>
					<li class="drop-down__item"><a routerLinkActive='active' [routerLink]="['/stats/most-starts/1']">Most Starts</a> </li>
					<li class="drop-down__item"><a href="">Most Starts/Month  </a> </li>
					<li class="drop-down__item"><a href="">Starts/Client Interviews  </a> </li>
					<li class="drop-down__item"><a href="">Starts/Job Orders * 100  </a> </li>
					<li class="drop-down__item"><a href="">Recruiter  </a> </li>
					<li class="drop-down__item"><a href="">Starts </a> </li>
					<li class="drop-down__item"><a href="">Submissions </a> </li>
					<li class="drop-down__item"><a href="">Most Client Interviews </a> </li>
					<li class="drop-down__item"><a href="">Starts/Client Interviews  </a> </li>
					<li class="drop-down__item"><a href="">Starts/Submittals * 100 </a> </li>
				</ul>
			</div>
		</div>
	</div>
	
	<aside class="aside-wrap">
		<div id='sidebar-menu'>                
			<ul>
				<div class="title">Account Executive (Sales)</div>                                    
				<li class="drop-down__item"><a routerLinkActive='active' [routerLink]="['/stats/most-job-orders']">Most Job Orders </a> </li>
				<li class="drop-down__item"><a routerLinkActive='active' [routerLink]="['/stats/most-client-interviews/1']">Most Client Interviews </a> </li>
				<li class="drop-down__item"><a routerLinkActive='active' [routerLink]="['/stats/most-starts/1']">Most Starts</a> </li>
				<li class=""><a href="">Most Starts/Month  </a> </li>
				<li class=""><a href="">Starts/Client Interviews   </a> </li>
				<li class=""><a href="">Starts/Job Orders * 100 </a> </li> 


				<div class="title">Recruiter</div> 
				<li class=""><a href="">Most Submissions </a> </li>
				<li class=""><a routerLinkActive='active' [routerLink]="['/stats/most-client-interviews/2']">Most Client Interviews </a> </li>
				<li class=""><a routerLinkActive='active' [routerLink]="['/stats/most-starts/2']">Most Starts</a>  </li>
				<li class=""><a href="">Most Starts/Month  </a> </li>
				
				<li class=""><a href="">Starts/Client Interviews  </a> </li>
				<li class=""><a href="">Starts/Submittals * 100 </a> </li>
				
			</ul>
		</div>
	</aside>

