<section class="wrapper_L">
	<section class="form-type-one">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-6">
					<div class="form-warp">
						<div class="form-card">
							<div class="form">

								<div class="form-content">                                                                   
									<h2 class="text-center">Page not found</h2> 
									<span><img src="./assets/images/error.jpg"></span> 
									<p>Looks like the page you are trying to visit doesn’t exist. Please check the URL and try again.</p>
								</div>
								<span class="terms text-center">
									<a [routerLink]="['/']">
										<i class="la la-arrow-left" aria-hidden="true"></i> Back to Home
									</a>
								</span>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

</section>
