<div class="main-wrap">
    <section class="team_header-warp bg-gradient-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="team_header_title">
              <h1>Teams</h1> </div>
          </div>
        </div>
      </div>
    </section>
    <section class="team_warp">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <ul class="auto-grid" *ngIf="teamInfo">

              <ng-container *ngFor='let teams of teamInfo; let i = index'>
              <li class="flex-grid-item bg_dam_hy {{teams.slug}}" >
                
                  <div class="team_card_inner" >
                    <div class="team_card_logo">
                     <img src="{{ iconUrl }}team_icon/{{ teams.team_logo }}" class="img-fluid">
                    </div>
                    <div class="card__details">
                      <h3 class="card__title">{{teams.name}}</h3>
                      <p class="card__subtitle">{{teams.location}}</p>
                      <div class="team_card_wins" style="opacity: 0">
                      	<span><i class="las la-trophy"></i></span><span>2016,</span><span>2019</span>
                      </div>
                    </div>
                    <div style="cursor: pointer;" class="team_card_link" (click)="teamDetails($event)" id="{{teams.id}}"> Team Home </div>
                  </div>
                
              </li>
              </ng-container>
             
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
