/*USER AND TEAM==================*/

.team_user_details_wrap{
    display:flex;
}
.team_user_avatr{
    margin-right:15px;
}
.team_user_mail{
    font-size: 12px;
    color: #949494;
    font-weight: 400;
}
.team_user_name{
    font-size: 15px;
    color: #488cc2;
    letter-spacing: 1px;
    font-weight: 600;
}
.user_teams_table_wrap{
    margin-top: 30px;
}
.user_teams_table_wrap .table>thead:first-child>tr:first-child>th {
    border-top: 1px solid #ddd;
    background: #eaf0f6;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}
.user_teams_table_wrap .table-bordered>thead>tr>th{
    border-bottom-width: 1px;
}
.user_teams_table_wrap table tr td {
    border: 0;
    border-bottom: 0px solid #ccc;
    border-top: 0px !important;  
    font-size: 14px;
    font-family: 'Quicksand';
    font-weight: 400;
    padding: 10px 8px !important;   
}
.user_teams_table_wrap tr:hover {
    background-color: #d3dbe45c;
}
.poly_arrow {
    display: inline-block;
    fill: rgb(203, 214, 226);
    flex-shrink: 0;
    margin-left: 6px;
    margin-right: 0px;
    width: 7.5px;
}

.team_user_details_wrap .dropdown {
    position: relative;
    margin-left: 20px;
    margin-top: 4px;
}

.team_user_details_wrap .btn {
    display: inline-block;
    padding: 4px 10px;
    opacity: 0;
}
.user_teams_table_wrap tr:hover .btn {   
    opacity: 1;
}

.user_teams_table_wrap .pagination {
    margin-top: 0px;
}
.team_search_wrap {
    display: flex;
    float: right;
    margin-top: 50px;
    margin-bottom: 30px;
}
.creat_user_btn_wrap{
    margin-left:20px;
}
.team_search_wrap .search {
    position: relative;
    display: flex;
    min-width: 250px;
}
.team_search_wrap .searchTerm {
    border-right: none;
    outline: none;
    padding: 9px 10px;
    border-radius: 50px;
    border: 2px solid #2196f3;
    font-size: 16px;
    transition: all .15s ease-out;
    background-color: #dcdcdc00;
    color: #525f7e;
    display: block;
    height: 40px;
    line-height: 22px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}
.team_search_wrap .searchTerm:focus{
  color: ;
}
.team_search_wrap .searchButton {
    width: 40px;
    height: 40px;
    border: 0px solid;
    background: transparent;
    text-align: center;
    color: #2196f3;
    cursor: pointer;
    font-size: 20px;
    border-left-width: 0px;
    position: absolute;
    right: 0;
}
.creat_user_btn {
    cursor: pointer;
    font-family: 'Alata';
    background: transparent;
    border: 0;
    outline: 0;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    display: block;
    transition: all 0.2s linear;
    border-radius: .3rem;
    text-align: center;
    color: #ffffff;
    padding: 9px 15px;
    letter-spacing: 2px;
    float: right;
    font-size: 15px;
    background-color: #2196F3;
}

.pvt_btn {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-family: Avenir Next W02,Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .15s ease-out;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.table_btn{
    background-color: #eaf0f6;
    border-color: #cbd6e2;
    color: #506e91;
    font-size: 12px;
    line-height: 12px;
    padding: 6px 12px;   
}

.user_teams_table_wrap tr .table_btn{
    opacity: 0;
}
.user_teams_table_wrap tr:hover .table_btn {
    opacity: 1;
}

.pvt_tab .nav-tabs>li>a {      
    border-radius: 4px 4px 0 0;
    padding: 13px 24px !important;
    font-family: 'Quicksand-bold'; 
    color: #525f7f;
}


.pvt_tab .nav-tabs {
     border-bottom: 1px solid rgb(203, 214, 226);
}
.pvt_tab .nav-tabs .nav-link.active,
.pvt_tab .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: rgb(234, 240, 246);
    border-color: #dee2e6 #dee2e6 #eaf0f6;
}


/*=====================================*/
.search-box{
    z-index: 99;
}
.dropdown-select {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;  
/*    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);*/
}
.dropdown-select .select {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    padding: 11px 35px 11px 12px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.dropdown-select .select:after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid #555;
  top: 14px;
  right: 10px;
}
.dropdown-select .select:before {
  content: '';
  position: absolute;
  width: 1px;
  background: #ddd;
  top: 0;
  bottom: 0;
  right: 30px;
}
.dropdown-select .option-list {
  background-color: #fff;  
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.17);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.17);
  font-size: 14px;
  left: 0;
  list-style: none;
  margin: 2px 0 0; 
  max-height: 220px;
  overflow-y: auto;
  padding: 5px 0;
  position: absolute;
  top: 107px;
  z-index: 100;
  width:100%;
  display: none;
}
.dropdown-select .option-list a {
    clear: both;
    color: #8898aa;
    display: block;    
    line-height: 2;
    padding: 3px 20px;
    white-space: nowrap;
    text-decoration: none;
}

.dropdown-select .search-box {
  position: absolute;
  left: 0;
  top: 100%;
  display: inline-block;
  width: 100%;
  display: none;
  background-color: #eaf0f6;
  padding: 12px;
/*  position: relative;  */
}
.search-box .fa{
    position: absolute;
    right: 33px;
    top: 29px;    
    z-index: 9;
    color:#8898aa;
    font-size: 16px;
}
.dropdown-select .search-box + .option-list {
  margin-top: 0px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 4px;
  border-top: none;
}
.dropdown-select .seach-control {
    width: 100%;
    height: 38px;
    border: 1px solid #dae1ec;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
    margin-top: 5px;
    padding: 5px 5px 5px 30px;
}
.dropdown-select .search-icon {
  position: absolute;
  width: 13px;
  height: 13px;
  border: 2px solid #ccc;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  left: 10px;
  z-index: 2;
  top: 12px;
}
.dropdown-select .search-icon:after {
  content: '';
  width: 3px;
  height: 7px;
  background: #ccc;
  position: absolute;
  top: 7px;
  left: -3px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.warning .select {
    background: #e3ecf2;
    min-width: 100px;
    border: 1px solid #d0d0d0;
}
.warning .select:after {
  border-top-color: #8898aa;
}
.warning .select:before {
  background: transparent;
} 
.warning .search-icon {
  border-color: #fff;
}
.warning .search-icon:after {
  background: #fff;
}


.warning .option-list a:hover {
  background: #e5f5f8;
}
.search-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8898aa;
}
.search-box input::-moz-placeholder { /* Firefox 19+ */
  color: #8898aa;
}
.search-box input:-ms-input-placeholder { /* IE 10+ */
  color: #8898aa;
}
.search-box input:-moz-placeholder { /* Firefox 18- */
  color: #8898aa;
}

.custom-select{
    height: 39px;
    background-color: #e3ecf2;
    border-radius: 4px;
}

.add_metric_btn_warp {
    padding: 20px 15px;   
    border: 1px solid #ddd;
    border-top-width: 0px;
}
.add_metric_btn_warp .la{
     font-weight: 600;
     color: #2196f3;
} 
.add_metric_btn_warp .add_metric_btn {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Alata';
    background: transparent;
    border: 0;
    outline: 0;
    box-shadow: 1px 1px 1px rgba(23, 23, 23, 0.3);
    font-weight: 400;
    transition: all 0.2s linear;
    border-radius: .3rem;
    text-align: center;
    color: #ffffff;
    padding: 6px 15px;
    letter-spacing: 2px;
    font-size: 15px;
    background-color: #2196F3;
}

.delete_kpi_btn_wrap{
    margin-left:50px;
}
.kpi_btn {
    opacity: 0;
    text-decoration: none;
    background: transparent;
    border: 0;
    outline: 0;
    font-weight: 400;
/*    transition: all 0.2s linear;*/
    border-radius: .3rem;
    text-align: center;
    color: #ffffff;
    padding: 4px 12px;
    letter-spacing: 2px;
    font-size: 14px;
    background-color: #428bca;
    border-color: #357ebd;
}
.points_table_wrap tr:hover .kpi_btn{
    opacity: 1;
}
.delet_kpi_btn:hover{
     background-color: #dc7070; 
}
.edit_kpi_btn:hover{
     background-color: #79c184; 
}

.check_box {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 9px;
  margin-top: 9px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check_box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border: solid 2px #4559;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.check_box:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_box input:checked ~ .checkmark {
  background-color: #2196f3;
  border-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check_box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check_box .checkmark:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.master_check_box{
    margin-bottom: 9px;
    margin-top: 9px;
}
.master_th_wrap{
    padding: 0px 7px 19px 8px !important;
}
.master_check_box .checkmark:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 0px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(90deg);
}
.table-responsive {   
    overflow-x: inherit !important;    
}