<!--HOME PAGE BANNER=======================-->
<section class="landing_banner home_page bg_transparent" id="">
  <!--       <div class="background-image"></div>-->

  <div class="container">
   <img src="./assets/images\home-img/icon-abstract1.svg" width="160" height="64" alt="" class="bg-dot-image">
   <img src="./assets/images\home-img/icon-abstract1.svg" width="160" height="64" alt="" class="bg-dot-image-2">
   <img src="./assets/images\home-img/rocket.svg" width="79" height="81" alt="" class="bg-rocket-image">   

   <div class="row">
    <div class="col-md-6">
      <div class="home_content_warp">
       <h1 class="home_title">Build a high-performance culture that fuels your growth </h1>
       <p class="hm_pera">mylevelup creates a positive culture of recognition in your workplace. It allows you to celebrate your team's quick wins, reward your employees, promote core values, share company news, and make them A level players of your business. </p>
<!--
              <a href="" class="hm_btn">Start Now</a>
              <a href="" class="hm_btn">Book Demo</a>
            -->
          </div>
        </div>
        <div class="col-md-6">
         <img class="img-fluid" src="./assets/images/home-img/banner-1.png">
       </div>
     </div>
   </div>
 </section>


 <section class="level_ser_icon_wrap bg-gray-light">
   <div class="background-image-wave-down"></div>
   <div class="background-image-darker-wave"></div>
   <div class="container">           
    <div class="row">
     <div class="col-md-6">
      <div class="ser_icon level_card row no-gutters">
       <div class="icon_box icon_player col-2">
        <img src="./assets/images/icon/player.png">
      </div>
      <div class="ser_content_warp col-10">
        <h4>Retain A Players </h4>
        <p>A Players stay very engaged, and they are also responsible to attract other A Players which further reduces the employee turnover.    </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="ser_icon level_card row no-gutters">
     <div class="icon_box icon_productivity col-2">
      <img src="./assets/images/icon/productivity.png">
    </div>
    <div class="ser_content_warp col-10">
      <h4>10X Productivity</h4>
      <p>Employees who are recognized for their quick wins feel valued and are motivated to drive 10X productivity levels.  </p>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="ser_icon level_card row no-gutters">
   <div class="icon_box icon_absenteeism col-2">
    <img src="./assets/images/icon/absenteeism.png">
  </div>
  <div class="ser_content_warp col-10">
    <h4>Reduce Absenteeism </h4>
    <p>Employees who are driven by purpose at work feel less stressed and have fewer reasons to abstain from work.  </p>
  </div>
</div>
</div>
<div class="col-md-6">
  <div class="ser_icon level_card row no-gutters">
   <div class="icon_box  col-2 icon_Profitability">
    <img src="./assets/images/icon/profitability.png">
  </div>
  <div class="ser_content_warp col-10">
    <h4>Increased Profitability  </h4>
    <p>Organizations which have engaged employees experience higher profitability and higher return per employee. </p>
  </div>
</div>
</div>
</div>
</div>
</section>

<section class="join_us_warp ">
  <div class="container">
    <img class="airplane-left" src="./assets/images/home-img/airplane-left.svg" alt="">
    <img class="airplane-right" src="./assets/images/home-img/airplane-right.svg" alt="">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center section_heading">Why Level Up?</h1>   
        <p class="text-center hm_pera">Organizations that invest in employee engagement create a team that is totally committed to customer success and then drives company growth. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center right-radial-bottom why_box">
          <div class="ser1-img-icon">
            <img height="50" width="50" src="./assets/images/icon/engagement.png">
          </div>
          <h4>Employee Engagement</h4>                     
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center right-radial-top why_box">
          <div class="ser1-img-icon">
            <img height="50" width="50" src="./assets/images/icon/customer-success.png">
          </div>
          <h4>Customer Success</h4>                     
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center why_box">
          <div class="ser1-img-icon">
            <img height="50" width="50" src="./assets/images/icon/company-growth.png">
          </div>
          <h4>Company Growth</h4>                     
        </div>
      </div>
    </div>
  </div>
</section>
<!--Fully Responsive=====================-->
<!--
 <section id="fully_responsive" class="art_1 padding_t_b_80">
    <div class="container">
    <div class="row">
     <div class="col-md-6">
        <div class="home_content_warp">
           <h1 class="section_heading">Fully Responsive</h1>
              <p class="hm_pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <a href="" class="hm_btn">Start Now</a>
           </div>         
        </div>
        <div class="col-md-6">
         <img src="images/home-img/responsive_device.png" class="img-fluid">
         </div>
     </div>
     </div>
    </section> 
  -->



  <!--  ==================== -->
  <section id="smart_solution" class="art_2 bg-gray-light">
    <div class="container">
     <img src="./assets/images/home-img/icon-abstract1.svg" width="160" height="64" alt="" class="bg-dot-image">
     <img src="./assets/images/home-img/icon-abstract1.svg" width="160" height="64" alt="" class="bg-dot-image-2">
     <div class="row">
       <div class="col-md-6">
        <img class="img-fluid" src="./assets/images/home-img/branding-implementation.png">
      </div>
      <div class="col-md-6">
        <div class="kpi_content_warp">
         <h1 class="section_heading">Branding & Implementation</h1>
         <p class="hm_pera">Your Engagement App should reflect your brand & culture. myLevelUp is designed to ensure it can be customized to match your company identity. Our in-house design team will make mylevelup look and feel like your brand. </p>
         <a href="" class="hm_btn">Start Now</a>
       </div>         
     </div>

   </div>
 </div>
</section>    


<!--OTHER SERVICE===============================-->

<section id="service" class="padding_t_b_80 other_features">
  <div class="container">
    <img src="./assets/images/home-img/icon-abstract1.svg" width="160" height="64" alt="" class="bg-dot-image">
    <img src="./assets/images/home-img/icon-abstract1.svg" width="160" height="64" alt="" class="bg-dot-image-2">
    <img class="airplane-left" src="./assets/images/home-img/airplane-left.svg" alt="">
    <img class="airplane-right" src="./assets/images/home-img/airplane-right.svg" alt="">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 section_heading">
        <h1 class="text-center section_heading">Other features</h1>          
      </div>
    </div>
    <div class="row service_itam_warp">
     <div class="col-md-4">
       <div class="service_item">
         <div class="service_img breaking-news">
           <img src="./assets/images/icon/breaking-news.png">
         </div>            
         <h4>Breaking News </h4>
         <p>Administrators can create special announcements to congratulate on wins, wish employees on birthdays and other messages that are pinned to the top of the feed for max visibility </p>
       </div>
     </div>
     <div class="col-md-4">
      <div class="service_item">
       <div class="service_img levelUp-tv"> 
         <img src="./assets/images/icon/levelUp-tv.png">
       </div>            
       <h4>LevelUp TV  </h4>
       <p>LevelUp TV provides an engaging visualization of contest, target, and KPI status for display on large-screen TVs. It increases visibility, recognition, and fun and keeps employees engaged and motivated.  </p>
     </div>
   </div>
   <div class="col-md-4">
    <div class="service_item ">
     <div class="service_img team_zon">
       <img src="./assets/images/icon/people.png">
     </div>            
     <h4>Team Zone </h4>
     <p>Teams deserve recognition too! Easily set up and manage teams based on functions and locations. It allows you to have personal team branding and share team celebrations.  </p>
   </div>
 </div>
</div>
</div>
</section>


<!--    WAVE ====================================-->
<section class="wave_warp wvc-row"><div class="wvc-img-bg"></div></section>