<div class="main-wrap">
    <!--=====================HOME BANNER=====================-->
    <div id="banner_slider" class="carousel slide slider" data-ride="carousel" data-interval="3000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#banner_slider" data-slide-to="0" class="active"></li>
    <li data-target="#banner_slider" data-slide-to="1"></li>
    <li data-target="#banner_slider" data-slide-to="2"></li>
  </ol>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="item active">
      <img class="img-fluid" src="./assets/images/banner-us-office.jpg" alt="US Office">
    </div>    
    <div class="item">
      <img class="img-fluid" src="./assets/images/banner-ind-office.jpg" alt="IND Office">
    </div>
      <div class="item">
      <img class="img-fluid" src="./assets/images/banner-us-office2.jpg" alt="US Office">
    </div>
  </div>

            
        
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#banner_slider" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#banner_slider" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

        
<!-- TEAM HIGHLIGHT CARD      -->
        <div class="team_high_light">
              <nav class="score_card_wrap">
                <li class="score_card">
                  <p>Desk Demons</p>
                  <div class="score_wrap">
                    <div class="score">Submissions</div>
                    <div class="score ">
                      <div class="scorebox"> <span class="versus">155</span> <span class="item_versus">V</span> <span class="versus">90</span> </div>
                    </div>
                    <div class="score">Joinings</div>
                  </div>
                </li>
                <hr>
                <li class="score_card">
                  <p>Quest Pirates</p>
                  <div class="score_wrap">
                    <div class="score">Submissions</div>
                    <div class="score">
                      <div class="scorebox"> <span class="versus">50</span> <span class="item_versus">V</span> <span class="versus">30</span> </div>
                    </div>
                    <div class="score">Joinings</div>
                  </div>
                </li>
                <hr>
                <li class="score_card">
                  <p>People Excellence</p>
                  <div class="score_wrap">
                    <div class="score">Submissions</div>
                    <div class="score">
                      <div class="scorebox"> <span class="versus">90</span> <span class="item_versus">V</span> <span class="versus">50</span> </div>
                    </div>
                    <div class="score">Joinings</div>
                  </div>
                </li>
              </nav>
            </div>        
        <div class="quick_result_top_team">
          <div class="quick_result_icon ">
           <img class="img-fluid tada animated" src="./assets/images/trophy-ore.png">
          </div>
          </div>
</div>
    


    <!--=====================LATEST NEWS=====================-->
    <section class="latest_news graybg">
      <div class="container-fluid">
        <div class="row">
          <header class="widget__header">
            <div class="title_wrap ">
              <h1 class="widget__title">Celebrate, Work & Fun</h1> </div>
            <div class="cmn_btn_wrap "><a href="" class="cmn_btn">View More</a> </div>
          </header>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="lt_vd_wrap">
              <a href="#" class="widget_card">
                <div class="lt_vd_banner hover01">
                  <figure> <img class="img-fluid" src="./assets/images/play-bold-2.jpg"> </figure>
                </div>
                <div class="article-item txt-container">
                  <h4 class="article-item">Saxon Global Trip To Khurpatal</h4>
                  <div class="article-item__meta">
                   <!-- <span class="article-item__tag simple-tag simple-tag--announcements">Announcement</span>
                    <time class="article-item__date">15 Nov 19</time> -->
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="lt_vd_wrap">
              <a href="#" class="widget_card">
                <div class="lt_vd_banner hover01">
                  <figure> <img class="img-fluid" src="./assets/images/play-bold-6.jpg"> </figure>
                </div>
                <div class="article-item txt-container">
                  <h4 class="article-item">Saxon Global Christmas Celebration </h4>
                  <div class="article-item__meta"> 
                    <!-- <span class="article-item__tag simple-tag simple-tag--announcements">Announcement</span>
                    <time class="article-item__date">15 Nov 19</time> -->
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="lt_vd_wrap">
              <a href="#" class="widget_card">
                <div class="lt_vd_banner hover01">
                  <figure> <img class="img-fluid" src="./assets/images/play-bold-5.jpg"> </figure>
                </div>
                <div class="article-item txt-container">
                  <h4 class="article-item">Saxon Global Cricket League </h4>
                  <div class="article-item__meta"> 
                    <!-- <span class="article-item__tag simple-tag simple-tag--announcements">Announcement</span>
                    <time class="article-item__date">15 Nov 19</time> -->
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="lt_vd_wrap">
              <a href="#" class="widget_card">
                <div class="lt_vd_banner hover01">
                  <figure> <img class="img-fluid" src="./assets/images/play-bold-3.jpg"> </figure>
                </div>
                <div class="article-item txt-container">
                  <h4 class="article-item">Saxon Global Office Party</h4>
                  <div class="article-item__meta"> 
                    <!-- <span class="article-item__tag simple-tag simple-tag--announcements">Announcement</span>
                    <time class="article-item__date">15 Nov 19</time> -->
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=====================LATEST VIDEOS =====================-->
    <section class="video_section">
      <div class="container-fluid">
        <div class="row">
          <header class="widget__header">
            <div class="title_wrap ">
              <h1 class="widget__title">Rewards & Recognitions</h1> </div>
            <div class="cmn_btn_wrap "><a href="" class="cmn_btn">View More</a> </div>
          </header>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="video_card">
               <a   class="video_thumb play_btn_1" >
                <div class="video_card_img"> <img class="img-fluid" src="./assets/images/work-fun-1.jpg">
                  <div class="play-button" rel="myModal1">
                    <div class="buttons" link="annual-party-2018.mp4">
                      <div class="ameer" data-toggle="modal" data-target="#myModal1"> <i class="fa fa-play" aria-hidden="true"></i> <span></span> <span></span> <span></span> </div>
                    </div>
                  </div>
                  <div class="category cat--bollywood"> Latest Videos</div>
                </div>
                <div class="video_meta">
                  <div class="card_video_name" title=" Why Force 2 couldn't get its original director"> Saxon Global Annual Day Function 2018</div>
                  <div class="meta__likes-votes">
                    <div class="left-meta"> <span class="text">23 likes</span> </div>
                    <div class="right-meta"> <span class="text">401 views</span> </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="video_card">
               <a   class="video_thumb play_btn_1" >
                <div class="video_card_img"> <img class="img-fluid" src="./assets/images/work-fun-2.jpg">
                  <div class="play-button" rel="myModal2">
                    <div class="buttons" link="annual-party-2018.mp4">
                      <div class="ameer" data-toggle="modal" data-target="#myModal2"> <i class="fa fa-play" aria-hidden="true"></i> <span></span> <span></span> <span></span> </div>
                    </div>
                  </div>
                  <div class="category cat--bollywood">Latest Videos</div>
                </div>
                <div class="video_meta">
                  <div class="card_video_name" title=" Why Force 2 couldn't get its original director">Saxon Global Annual Day Celebration 2018</div>
                  <div class="meta__likes-votes">
                    <div class="left-meta"> <span class="text">52 likes</span> </div>
                    <div class="right-meta"> <span class="text">827 views</span> </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="video_card">
              <a  class="video_thumb play_btn_2"  >
                <div class="video_card_img"> <img class="img-fluid" src="./assets/images/work-fun-3.jpg">
                  <div class="play-button" rel="myModal3">
                    <div class="buttons" link="annual-party-2018.mp4">
                      <div class="ameer" data-toggle="modal" data-target="#myModal3"> <i class="fa fa-play" aria-hidden="true"></i> <span></span> <span></span> <span></span> </div>
                    </div>
                  </div>
                  <div class="category cat--bollywood">Latest Videos</div>
                </div>
                <div class="video_meta">
                  <div class="card_video_name" title=" Why Force 2 couldn't get its original director">Rewards & Recognitions</div>
                  <div class="meta__likes-votes">
                    <div class="left-meta"> <span class="text">100 likes</span> </div>
                    <div class="right-meta"> <span class="text">526 views</span> </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="video_card"  >
              <div  class="video_thumb play_btn_1">
                <div class="video_card_img"> <img class="img-fluid" src="./assets/images/work-fun-6.jpg">
                  <div class="play-button">
                    <div class="buttons"  link="annual-party-2018.mp4">
                      <div class="ameer" data-toggle="modal" data-target="#myModal4"> <i class="fa fa-play" aria-hidden="true" ></i> <span></span> <span></span> <span></span> </div>
                    </div>
                  </div>
                  <div class="category cat--bollywood">Latest Videos</div>
                </div>
                <div class="video_meta">
                  <div class="card_video_name" title=" Why Force 2 couldn't get its original director"> Saxon Global Annual Day Function 2019</div>
                  <div class="meta__likes-votes">
                    <div class="left-meta"> <span class="text">65 likes</span> </div>
                    <div class="right-meta"> <span class="text">445 views</span> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal -->
    <div class="modal fade video_modal" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          
          <div id="video-modal-content" class="video-modal-content"> 
            <video controls class="slider-video" width="100%" id="annual_party">
                <source src="./assets/video/annual-party-2018.mp4" type="video/mp4" id="office_video">
              </video>

            <a href="#" class="close-video-modal  " id="video_stop" data-dismiss="modal">
              <i class="lar la-times-circle"></i>
            </a>
          </div>
        </div>
       
      </div>
      
    </div>
  </div>
  <div class="modal fade video_modal" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          
          <div id="video-modal-content" class="video-modal-content"> 
            <video controls class="slider-video" width="100%" id="annual_party">
                <source src="./assets/video/office-enjoy.mp4" type="video/mp4" id="office_video">
              </video>

            <a href="#" class="close-video-modal  " id="video_stop" data-dismiss="modal">
              <i class="lar la-times-circle"></i>
            </a>
          </div>
        </div>
       
      </div>
      
    </div>
  </div>
    <div class="modal fade video_modal" id="myModal3" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          
          <div id="video-modal-content" class="video-modal-content"> 
            <video controls class="slider-video" width="100%" id="annual_party">
                <source src="./assets/video/fun.mp4" type="video/mp4" id="office_video">
              </video>

            <a href="#" class="close-video-modal  " id="video_stop" data-dismiss="modal">
              <i class="lar la-times-circle"></i>
            </a>
          </div>
        </div>
       
      </div>
      
    </div>
  </div>

  <div class="modal fade video_modal" id="myModal4" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          
          <div id="video-modal-content" class="video-modal-content"> 
            <video controls class="slider-video" width="100%" id="annual_party">
                <source src="./assets/video/annual-party-2018.mp4" type="video/mp4" id="office_video">
              </video>

            <a href="#" class="close-video-modal  " id="video_stop" data-dismiss="modal">
              <i class="lar la-times-circle"></i>
            </a>
          </div>
        </div>
       
      </div>
      
    </div>
  </div>
      
    <!-- video modal -->
   <!--  <section class="video-modal">

      <div id="video-modal-content" class="video-modal-content"> 
          <video controls autoplay class="slider-video" width="100%" id="annual_party">
            <source src="./assets/video/annual-party-2018.mp4" type="video/mp4">
          </video>
        <a href="#" class="close-video-modal">
          <i class="lar la-times-circle"></i>
        </a>
      </div>

      <div class="overlay"></div>
    </section> -->
   
      
    <!--=================LATEST YEARS LEADERS =================-->
    <section class="leaders_wrap graybg">
      <div class="container-fluid">
        <div class="row">
          <header class="widget__header">
            <div class="title_wrap ">
              <h1 class="widget__title">This Year Champions</h1> </div>
            <div class="cmn_btn_wrap "><a href="" class="cmn_btn">View More</a> </div>
          </header>
        </div>
        <div class="row">
          <div class="col-md-3">
            <a href="#" class="">
              <div class="leaderCard">
                <div class="leaderBackdrop card_grd">
                  <div class="trophy_wrap">
                    <div class="leader_trophy orange"></div>
                  </div>
                  <div class="imageContainer"> <img class="img-fluid" src="./assets/images/deepak-ku.jpg"> </div>
                  <div class="leaderStat">
                    <div class="stat-content">
                      <h1>
                                        Deepak <span>Kumar</span>
                                    </h1>
                      <div class="stat-container"> <span class="digits">164</span> <span class="statLabel">Submissions</span> </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="leaderCard">
              <div class="leaderBackdrop card_grd">
                <div class="trophy_wrap">
                  <div class="leader_trophy purple"></div>
                </div>
                <div class="imageContainer"> <img class="img-fluid" src="./assets/images/nitin.jpg"> </div>
                <div class="leaderStat">
                  <div class="stat-content">
                    <h1>
                                        Nitin <span>Kumar</span>
                                    </h1>
                    <div class="stat-container"> <span class="digits">152</span> <span class="statLabel">Submissions</span> </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="leaderCard">
              <div class="leaderBackdrop card_grd">
                <div class="trophy_wrap">
                  <div class="leader_trophy orange"></div>
                </div>
                <div class="imageContainer"> <img class="img-fluid" src="./assets/images/amar.jpg"> </div>
                <div class="leaderStat">
                  <div class="stat-content">
                    <h1>
                                       Amar<span> Panwar</span>
                                    </h1>
                    <div class="stat-container"> <span class="digits">155</span> <span class="statLabel">Submissions</span> </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="leaderCard">
              <div class="leaderBackdrop card_grd">
                <div class="trophy_wrap">
                  <div class="leader_trophy purple"></div>
                </div>
                <div class="imageContainer"> <img class="img-fluid" src="./assets/images/kapil.jpg"> </div>
                <div class="leaderStat">
                  <div class="stat-content">
                    <h1>
                                        Kapil <span>Tyagi</span>
                                    </h1>
                    <div class="stat-container"> <span class="digits">129</span> <span class="statLabel">Submissions</span> </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- ====================IN NUMBER==============================-->
    <section class="in_number_wrap">
      <div class="container-fluid">
        <div class="row">
          <header class="widget__header">
            <div class="title_wrap ">
              <h1 class="widget__title"> 2019 in Numbers</h1> </div>
          </header>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="number_card  padding_40 bg-gradient-d-red">
              <h3>DID YOU KNOW?</h3>
              <p>The unemployment rate in US hit the 50 years lowest rate, 3.6%</p>
            </div>
          </div>
          <!--  SM SLIDER=========================  -->
          <div class="col-md-2">
            <div class="carousel slide slider sm_slide" id="sm_sl" data-ride="carousel" data-interval="3000">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#sm_sl" data-slide-to="0" class="active"></li>
                <li data-target="#sm_sl" data-slide-to="1"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner bg-gradient-primary">
                <div class="item active"> <a href="#"><h1>14408 </h1><p>Submissions</p></a> </div>
                <div class="item"> <a href="#"><h1>388 </h1><p>Placements</p></a> </div>
              </div>
            </div>
          </div>
          <!--  MD SLIDER=========================  -->
          <div class="col-md-4">
            <div class="carousel slide slider md_slide" id="md_sl" data-ride="carousel" data-interval="3000">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#md_sl" data-slide-to="0" class="active"></li>
                <li data-target="#md_sl" data-slide-to="1"></li>
                <li data-target="#md_sl" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner bg-gradient-info">
                <div class="item active"> <a href="#"><h1>288 </h1><p>Consultants</p></a> </div>
                <div class="item"> <a href="#"><h1>2355 </h1><p>Interviews</p></a> </div>
                <!-- <div class="item"> <a href="#"><h1>55 </h1><p>External Submissions</p></a> </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="in_number_wrap_2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <a href="#" class="leaderCard_2">
              <div class="leaderBackdrop">
                <div class="imageContainer card_blue"> <img class="img-fluid" src="./assets/images/rahul-ch.jpg"> </div>
                <div class="leader_cap purpel_cap">  Rahul Chaudhary</div>
              </div>
            </a>
          </div>
          <!--  SM SLIDER=========================  -->
          <div class="col-md-2">
            <div class="carousel slide slider sm_slide" id="sm_sl" data-ride="carousel" data-interval="3000">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#sm_sl" data-slide-to="0" class="active"></li>
                <li data-target="#sm_sl" data-slide-to="1"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner bg-gradient-danger">
                <div class="item active"> <a href="#"><h1>288 </h1><p>Consultants</p></a> </div>
                <div class="item"> <a href="#"><h1>2355 </h1><p>Interviews</p></a> </div>
                <!-- <div class="item"> <a href="#"><h1>55 </h1><p>External Submissions</p></a> </div> -->
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <a href="#" class="leaderCard_2">
              <div class="leaderBackdrop">
                <div class="imageContainer card_blue"> <img class="img-fluid" src="./assets/images/ashish-gautam.jpg"> </div>
                <div class="leader_cap orang_cap">Ashish Gautam </div>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <div class="carousel slide slider md_slide" id="lg_sl" data-ride="carousel" data-interval="3000">
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#lg_sl" data-slide-to="0" class="active"></li>
                <li data-target="#lg_sl" data-slide-to="1"></li>
                <li data-target="#lg_sl" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner bg-gradient-d-gren">
                <div class="item active"> <a href="#"><h1>288 </h1><p>Consultants</p></a> </div>
                <div class="item"> <a href="#"><h1>2355 </h1><p>Interviews</p></a> </div>
                <!-- <div class="item"> <a href="#"><h1>55 </h1><p>External Submissions</p></a> </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>












    