<div class="main-wrap">
	<!--===================== SETTING =====================-->
	<section class="setting_wrap">
		<app-setting-bar></app-setting-bar>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 marg-bo-30">
					<app-sidebar></app-sidebar>
				</div>
				<div class="col-md-6">
					<div class="title">Notifications</div>
					<div class="box-1">
						<div class="user-edit-form">
							<div class="form-warp">
								<div class="row">
									<div class="col-md-12">
										<h3>Global notifications</h3>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="notifi_toggle_wrap">
											<form class="form-inline" action="/action_page.php">
												<label class="inline_label" for="email">Email:</label>
												<div class="toggle-button-cover">
													<div class="button-cover">
														<div class="button b2" id="button-10">
															<input type="checkbox" class="checkbox">
															<div class="knobs"> <span>YES</span>
															</div>
															<div class="layer"></div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group form-control-wrap">
											<label class="form-control-label" for="Username">Update notifications email</label>
											<input type="text" class="form-control" id="user-name" placeholder="Email">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button class="cmn_btn pull-right">Update</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
